attrs==25.3.0
cattrs==25.1.1
coverage==7.10.3
flake8==7.3.0
fonttools==4.59.0
iniconfig==2.1.0
mccabe==0.7.0
orjson==3.11.1
packaging==25.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.19.2
pytest==8.4.1
ruff==0.12.8
typing-extensions==4.14.1
ufolib2==0.18.1
ufonormalizer==0.6.2

