attrs==25.4.0
cattrs==25.3.0
coverage==7.11.0
flake8==7.3.0
fonttools==4.60.1
iniconfig==2.3.0
mccabe==0.7.0
orjson==3.11.4
packaging==25.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.19.2
pytest==9.0.0
ruff==0.14.3
typing-extensions==4.15.0
ufolib2==0.18.1
ufonormalizer==0.6.3

